# Personal Loan Assighnment

In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
import matplotlib.pyplot
import seaborn as sns

In [4]:
dataset = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
dataset1 = dataset.drop(["ID","ZIP Code"],axis=1)

In [6]:
dataset2 = dataset1.dropna()

In [8]:
dataset3 = dataset2.drop_duplicates()

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
import numpy as np

In [16]:
dataset3["CCAvg"]=np.round(dataset3["CCAvg"])

C:\Users\jhussain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [21]:
features = ['Age', 'Experience', 'Income', 'Family', 'CCAvg',
'Education', 'Mortgage', 'Securities Account',
'CD Account', 'Online', 'CreditCard'] # dont need to consider ID & Zip_code

In [22]:
rf_model.fit(X=dataset3[features],y=dataset3["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
print("OOB Accuracy Score:")
print(rf_model.oob_score_)

OOB Accuracy Score:
0.986765590535392

In [24]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.05056443119272506
Experience 0.05045478321246419
Income 0.36009630300451856
Family 0.10001480414575575
CCAvg 0.14228972382681973
Education 0.16788693059686943
Mortgage 0.04663369371816919
Securities Account 0.006411774640056887
CD Account 0.05465556281277017
Online 0.009939987329209695
CreditCard 0.0110520055206412

In [25]:
#Income, education, CCCAvg are having higher values
from sklearn import tree
tree_model = tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [27]:
predictors = pd.DataFrame([dataset3["Education"], dataset3["CCAvg"],dataset3["Income"]]).T
tree_model.fit(X=predictors, y=dataset3["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [59]:
with open("Dtreeloan.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education"],out_file=f);

# Rules : 
1) if the person is having income less than 101.5 then the possibility of getting the loan is No
2) if the person is having income greater than 101.5 then the possibility of getting the loan is Yes
3) if the CCAvg is Greater than 3.5 & income less than 88.5 the possibility of getting the loan is No
4) if Education is in between 1.5 to 2.5 income is Greater than 88.5 and CCAvg is Greater than 3.5 then the possibility of getting the loan is No
5) if Education is Less than 1.5 income is Greater than 88.5 and CCAvg is Greater than 3.5 then the possibility of getting the loan is No
6) if income is Less than 92.5 Education is in between 1.5 to 2.5 income is Greater than 88.5 and CCAvg is Greater than 3.5 then the possibility of getting the loan is No
7) if income is Greater than 92.5 Education is in between 1.5 to 2.5 income is Greater than 88.5 and CCAvg is Greater than 3.5 then the possibility of getting the loan is Yes
8) if income is Less than 116.6 and Education is Greater tan 1.5 then the possibility of getting the loan is No
9) if income is Grater than 116.6 and Education is Greater tan 1.5 then the possibility of getting the loan is Yes

# Attrition Assignment

In [31]:
dataset4 = pd.read_csv("general_data.csv")

In [32]:
dataset4.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [33]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [35]:
dataset4["Attrition"] = le.fit_transform(dataset4["Attrition"])
dataset4["BusinessTravel"] = le.fit_transform(dataset4["BusinessTravel"])
dataset4["Department"] = le.fit_transform(dataset4["Department"])
dataset4["EducationField"] = le.fit_transform(dataset4["EducationField"])
dataset4["Gender"] = le.fit_transform(dataset4["Gender"])
dataset4["MaritalStatus"] = le.fit_transform(dataset4["MaritalStatus"])
dataset4["JobRole"] = le.fit_transform(dataset4["JobRole"])

In [37]:
# Cols to drop EmpID, Emp Count, over 18, Std Hrs, 
dataset5 = dataset4.drop(["EmployeeCount","EmployeeID","Over18","StandardHours"],axis=1)

In [38]:
dataset5.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [39]:
from sklearn.ensemble import RandomForestClassifier
dataset6 = dataset5.dropna()

In [40]:
dataset7 = dataset6.drop_duplicates()

In [42]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [43]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
'YearsWithCurrManager']

In [44]:
rf_model.fit(X=dataset7[features],y=dataset7["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [45]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.8442176870748299

In [46]:
for feature, imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.09810751973081708
BusinessTravel 0.028329371110098887
Department 0.025991644732995527
DistanceFromHome 0.06894895529616415
Education 0.04048766252757613
EducationField 0.040895349545166354
Gender 0.01835577644043388
JobLevel 0.03718470068518023
JobRole 0.055262128915638184
MaritalStatus 0.039232601600015814
MonthlyIncome 0.09258989734115623
NumCompaniesWorked 0.056080153365786825
PercentSalaryHike 0.06540217479653346
StockOptionLevel 0.0346203319014777
TotalWorkingYears 0.08652777054060415
TrainingTimesLastYear 0.04390846618434598
YearsAtCompany 0.06910376836116432
YearsSinceLastPromotion 0.04413100125862226
YearsWithCurrManager 0.054840725666222855

In [47]:
#Age, MonthlyIncome, TotalWorkingYears are important Variable
from sklearn import tree
tree_model = tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [52]:
predictors = pd.DataFrame([dataset7["TotalWorkingYears"], dataset7["Age"],dataset7["MonthlyIncome"]]).T

In [54]:
tree_model.fit(X=predictors, y=dataset7["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [57]:
with open("DtreeAttNew.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["TotalWorkingYears","Age","MonthlyIncome"],out_file=f);

# Rules

1) if TotalWorkingYears  is < 1.5 the attrition rate is Less
2) Person Whose TotalWorkingYears < 1.5 & Age is > 33.5 their attrition is Yes
3) Person Whose TotalWorkingYears < 1.5 & Age is < 33.5 & MonthlyIncome is > 112610.0 their attrition is Yes
4) Person Whose TotalWorkingYears < 1.5 & Age is < 33.5 & MonthlyIncome Ranges between  112610.0 & 23140.0 their attrition is No
5) Person whose Age is in between the range of 23.5 & 33.5 & MonthlyIncome Ranges between  112610.0 & 23140.0 their attrition is No
6) Person Whose MonthlyIncome < 32530.0 & Age is > 23.5 their Attrition is No
7) Person Whose MonthlyIncome > 32530.0 & Age is > 23.5 their Attrition is Yes
8) Person Whose TotalWorkingYears > 1.5 Age is < 33.5 Attrition is No
9) Person Whose TotalWorkingYears is Less than 39 Age is > 33.5  Attrition is Yes
10) Person Whose Age is > 33.5 & TotalWorkingYears  < 39.0  & MonthlyIncome is Less than 10300.0 their Attrition is No
11) Person Whose Age is > 33.5 & TotalWorkingYears  < 39.0  & MonthlyIncome is Greater than 10300.0 their Attrition is Yes

# Titanic

In [60]:
titanic_train = pd.read_csv("train.csv")

In [61]:
titanic_train["Age"].mean()

32.69985376827896

In [62]:
new_age_var = np.where(titanic_train["Age"].isnull(),32, titanic_train["Age"])

In [63]:
titanic_train["Age"] = new_age_var

In [64]:
label_encoder = preprocessing.LabelEncoder()
encoded_sex=label_encoder.fit_transform(titanic_train["Sex"])

In [68]:
import pandas as pd
predictors = pd.DataFrame([encoded_sex, titanic_train["Pclass"],titanic_train["Age"], titanic_train["Fare"]]).T

In [71]:
tree_model = tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [72]:
tree_model.fit(X=predictors, y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [73]:
with open("DtreeTitNew.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Pclass","Age","Fare"],out_file=f);

# Rules
1) Person Whose Gender is Female, whose Passenger class is < 2.5 their Survivor Rate is 0
2) Person Whose Gender is Male, whose Passenger class is > 2.5 & Fare is < 23.35 their Survivor Rate is 0
3) Person Whose Gender is Male, whose Passenger class is > 2.5 & Fare is > 23.35 their Survivor Rate is 1
4) Person Whose Gender is Male, whose Passenger class is < 2.5, Age < 6.5, Pclass > 2.5  & Fare is < 20.825 their Survivor Rate is 0
5) Person Whose Gender is Male, whose Passenger class is < 2.5, Age < 6.5, Pclass > 2.5  & Fare is > 20.825 their Survivor Rate is 1
6) Person Whose Gender is Male, whose Passenger class is > 1.5, Age > 6.5 their Survivor Rate is 1
7) Person Whose Gender is Male, whose Passenger class is < 1.5, Age > 36.5 their Survivor Rate is 1
8) Person Whose Gender is Male, whose Passenger class is < 1.5, Age < 36.5 & Fare is < 37.812 their Survivor Rate is 0
9) Person Whose Gender is Male, whose Passenger class is < 1.5, Age < 36.5 & Fare is > 37.812 their Survivor Rate is 1

In [74]:
tree_model.score(X=predictors,y=titanic_train["Survived"])

0.8346456692913385

In [ ]:
# Model is 83.46 Accurate

In [77]:

titanic_test = pd.read_csv("test.csv")

In [80]:
new_age_var = np.where(titanic_test["Age"].isnull(),28,titanic_test["Age"])

In [82]:
titanic_test["Age"]=new_age_var

In [83]:
encoded_sex_test=label_encoder.fit_transform(titanic_test["Sex"])

In [84]:
test_features = pd.DataFrame([encoded_sex_test,titanic_test["Pclass"],titanic_test["Age"],titanic_test["Fare"]]).T

In [85]:
test_preds=tree_model.predict(X=test_features)

In [90]:
predicted_Output = pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

In [91]:
predicted_Output.to_csv("Output.csv", index=False);

In [ ]:
#whatever we store he result we store in output.csv
#Basd on test data set we predicted survived